@import 'https://fonts.googleapis.com/css?family=Lato|Yanone+Kaffeesatz';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

$font-family-sans-serif: 'Lato', sans-serif;
$headings-font-family: 'Yanone Kaffeesatz', sans-serif;

$link-hover-decoration: none !default;
